<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/category.css}"/>
<body>

<span style="font-size: 25px; ">
  <br>
  <div class="container-category-selector text-light">
  <div class="categories" > <h1>categories</h1></div>
  <div class="line"><p><hr/></p> </div>
  <div class="all-categories"><a href=""> all categories</a></div>
  <div class="controllers"><a href=""> controllers</a></div>
  <div class="sensors"><a href=""> sensors</a></div>
  <div class="LEDs"><a href="">LEDs</a></div>
  <div class="Displays"><a href="">Displays</a></div>
  <div class="Cables-and-others"><a href="">Cables and others</a></div>
</div></span>

</body>
</html>