.container-category-selector {  display: grid;
    /*display: inline;*/
    font-size: 25px;padding-top: 30px;padding-left: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "categories"
    "line"
    "all-categories"
    "controllers"
    "sensors"
    "LEDs"
    "Displays"
    "CablesAndOthers";
}

.categories { grid-area: categories; }
.line { grid-area: line; }


.all-categories { grid-area: all-categories; }

.controllers { grid-area: controllers; }

.sensors { grid-area: sensors; }

.LEDs { grid-area: LEDs; }

.Displays { grid-area: Displays; }

.CablesAndOthers { grid-area: Cables-and-others; }
.white  {
    color: white;
}.white{
     color: white;
 }
.dark {
    color: #000710;
/*    000710 to do dark color*/
}.dark{
     color: #000710;
 }
hr {
    border-color: white;
}
