body {
    /*background-image: url('/images/1.jpg');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.navbar .logo {
    max-height: 50px;
    padding-right: 100px;
}
