<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--&gt;-->
<head th:fragment="head">
  <meta charset="UTF-8">
  <title>Duck marketplace</title>
  <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
  <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script src="https://kit.fontawesome.com/734a4e4265.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/news-page.css}"/>
  <script th:src="@{/js/news-page.js}"></script>

</head>
<body th:class="'base '+${darkTheme ? 'background-dark text-light' : 'background-light '}">

<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
  <h2 class="text-center " style="margin-top: 150px">Add news</h2>
  <form th:method="post"
        th:action="@{/add-news}"
        th:object="${newsDTO}"
        enctype="multipart/form-data"
        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
    <div class="form-group">
      <label for="name" class="t font-weight-bold" >Name of the news</label>
      <input id="name"
             name="name"
             type="text"
             class="form-control"
             style="padding-bottom: 10px"

             th:field="${newsDTO.name}"
             th:errorclass="'is-invalid bg-danger'"
      />

      <label for="description" class=" font-weight-bold">Description of the news</label>
      <textarea id="description"
                name="description"
                type="text"
                class="form-control"
                rows="4" cols="20"
                style="padding-bottom: 10px"
                th:field="${newsDTO.description}"
                th:errorclass="'is-invalid bg-danger'"
      ></textarea>

      <label for="image" class=" font-weight-bold">Image for the news</label>
      <input id="image"
             name="price"
             type="file"
             class="form-control"
             th:field="${newsDTO.image}"
             th:errorclass="'is-invalid bg-danger'"
      />
      <small th:errors="${newsDTO.image}" th:errorclass="is-invalid" class ="" style="color: red" >email error message</small>

    </div>

    <!--    <p th:if="${bad_credentials}" class="errors alert alert-danger">-->
    <!--      Invalid username or password.-->
    <!--    </p>-->

    <div class="row">
      <div class="col col-md-4">
        <div class="button-holder d-flex">
          <input type="submit" class="btn btn-info btn-lg" value="Add news"/>
        </div>
      </div>
    </div>
  </form>
</div>


</body>
</html>