<!DOCTYPE html>
<html lang="en" >
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
  <h2 class="text-center text-white" style="margin-top: 150px">Add item</h2>
  <form th:method="post"
        th:action="@{/add-item}"
        th:object="${itemDTO}"
        enctype="multipart/form-data"
        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
    <div class="form-group">
      <label for="name" class="text-white font-weight-bold">Name of the product</label>
      <input id="name"
             name="name"
             type="text"
             class="form-control"
             th:field="${itemDTO.name}"
             />

      <label for="price" class="text-white font-weight-bold">Price of the product</label>
      <input id="price"
             name="price"
             type="text"
             class="form-control"
             th:field="${itemDTO.price}"
             />
      <label for="category" class="text-white font-weight-bold">Category of the product</label>
      <select id="category"
             name="category"
             class="form-control"
              th:field="${itemDTO.category}"
      >
        <option th:value="'controller'">Controller</option>
        <option th:value="'sensors'">Sensor</option>
        <option th:value="'leds'">LEDs</option>
        <option th:value="'Displays'">Displays</option>
        <option th:value="'cablesAndOthers'">Cables and others</option>
      </select>

      <label for="description" class="text-white font-weight-bold">Description of the product</label>
      <textarea id="description"
             name="description"
             type="text"
             class="form-control"
                rows="4" cols="20"
                th:field="${itemDTO.desc}"
      ></textarea>

      <label for="image" class="text-white font-weight-bold">Image of the product</label>
      <input id="image"
             th:field="${itemDTO.image}"
             name="image"
             type="file"
             class="form-control"

      />
    </div>

<!--    <p th:if="${bad_credentials}" class="errors alert alert-danger">-->
<!--      Invalid username or password.-->
<!--    </p>-->

    <div class="row">
      <div class="col col-md-4">
        <div class="button-holder d-flex">
          <input type="submit" class="btn btn-info btn-lg" value="Add item"/>
        </div>
      </div>
    </div>
  </form>
</div>

</body>
</html>
