<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Arduino marketplace</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script src="https://kit.fontawesome.com/734a4e4265.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>


    <link rel="stylesheet" type="text/css" th:href="@{/css/Item.css}"/>
    <script th:src="@{/js/Heart.js}"></script>
    <script th:src="@{/js/cart.js}"></script>
    <link rel="stylesheet" th:href="@{/css/cart.css}">

</head>
<body>


    <div id="cart-container" class="cart-container">
        <div class="cart-checkout-info text-light">

            <div class="container-category-selector" style="display: flex; flex-direction: column; gap: 100px;">
                <div class="cart-checkout-text"><h1 class="text-light">Items in the cart</h1><br><hr></div>
                <div class="cart-checkout-product-price text-light">
                   <h1 > Total price: <span id="total-price">5</span> lv.</h1>
                </div>
                <div class="cart-checkout-delivery-price">
                    <h1>delivery price: 5lv.</h1>
                </div>
                <div class="cart-checkout-next-button">
                    <a href="/checkout"><h1 style="color: white">next page</h1></a>
                </div>
            </div>

        </div>
        <div class="cart-items"></div>
        <div class="cart-text"><h1 class="text-light">Items in the cart</h1><br><hr></div>
        <div class="navbar"><nav th:replace="~{fragments/navbar}"></nav></div>
    </div>


</body>
<style>




</style>
</html>