<!DOCTYPE html>
<html lang="en" >
<head th:replace="~{fragments/head}">
</head>
<body th:class="'base '+${darkTheme ? 'background-dark text-light' : 'background-light '}">
<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
  <h2 class="text-center " style="margin-top: 100px">Login</h2>
  <form th:method="post"
        th:action="@{/change-username}"
        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
    <div class="form-group">
      <label for="username" class=" font-weight-bold">Username</label>
      <input id="username"
             name="username"
             th:value="${username}"
             type="text"
             class="form-control"
             placeholder="Username"/>
    </div>



    <div class="row">
      <div class="col col-md-4">
        <div class="button-holder d-flex">
          <input type="submit" class="btn btn-info btn-lg" value="Change username"/>
        </div>
      </div>
    </div>
  </form>
</div>

<div>
  <footer> </footer>
</div>
</body>
</html>
