<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Arduino marketplace</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/category.css}"/>



    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/734a4e4265.js" crossorigin="anonymous"></script>

<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/Item.css}"/>-->
<!--    <script th:src="@{/js/store.js}"></script>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/store.css}"/>

</head>
<body th:class="'base '+${darkTheme ? 'background-dark ' : 'background-light '}">





<div class="navbar" ><nav th:replace="~{fragments/navbar}"></nav></div>
<div style="display: flex;flex-direction: row; gap: 150px;margin: 100px 200px ">
    <div class="column shop-categories " >

        <div class="container-category-selector ">
            <div class="categories" > <h1 th:class="${darkTheme ? 'white ' : 'dark '}">categories</h1></div>
            <div class="line"><p><hr/></p> </div>
            <div class="all-categories"><a th:class="${darkTheme ? 'white ' : 'dark '}" href=""> all categories</a></div>
            <div class="controllers"><a th:class="${darkTheme ? 'white ' : 'dark '}"href=""> controllers</a></div>
            <div class="sensors"><a th:class="${darkTheme ? 'white ' : 'dark '}"href=""> sensors</a></div>
            <div class="LEDs"><a th:class="${darkTheme ? 'white ' : 'dark '}"href="">LEDs</a></div>
            <div class="Displays"><a th:class="${darkTheme ? 'white ' : 'dark '}" href="">Displays</a></div>
            <div class="Cables-and-others"><a th:class="${darkTheme ? 'white ' : 'dark '}" href="">Cables and others</a></div>
        </div>
    </div>
    <div class="column" style="display: inline; font-size: 60px;background-color: #d8ecf3; border-radius: 20px;margin: 20px 0px; width: 1500px;padding: 50px">
        <h1 style="display: block; font-size: 60px;background-color: #d8ecf3; border-radius: 20px;margin: 20px 0px">WELCOME TO MY SITE</h1>
        <br>
        <h2 align="center"><a style="color: #212529" th:href="@{/login}">please log in to continue</a></h2>
        <h2 align="center"><a style="color: #212529" th:href="@{/register}">or register if you don't have an account</a></h2>
    </div>
</div>


</body>
</html>



<div >



</div>