<!DOCTYPE html>
<html lang="en" >
<head th:replace="~{fragments/head}">
</head>
<body th:class="'base '+${darkTheme ? 'background-dark text-light' : 'background-light '}">
<div>
  <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
  <h2 class="text-center " style="margin-top: 100px">Login</h2>
  <form th:method="post"
        th:action="@{/login}"
        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
    <div class="form-group">
      <label for="email" class=" font-weight-bold">Username</label>
      <input id="email"
             name="email"
             th:value="${email}"
             type="text"
             class="form-control"
             placeholder="Email"/>
    </div>
    <div class="form-group">
      <label for="password" class=" font-weight-bold">Password</label>
      <input id="password"
             name="password"

             type="password" min="2"
             max="20" class="form-control"
             placeholder="Password"/>

    </div>



    <div style="flex-direction: row;
  justify-content: center;" class="form-group" >
      <label for="remember_me" class=" font-weight-bold">Remember me</label>
      <input  id="remember_me"
              name="remember_me"
              type="checkbox"
      />

    </div>

    <p th:if="${bad_credentials}" class="errors alert alert-danger">
      Invalid username or password.
    </p>

    <div class="row">
      <div class="col col-md-4">
        <div class="button-holder d-flex">
          <input type="submit" class="btn btn-info btn-lg" value="Login"/>
        </div>
      </div>
    </div>
  </form>
</div>

<div>
  <footer> </footer>
</div>
</body>
</html>
