
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--&gt;-->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Duck marketplace</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/734a4e4265.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/news.css}"/>
    <script th:src="@{/js/news.js}"></script>

</head>
<body th:class="'base '+${darkTheme ? 'background-dark text-light' : 'background-light '}">
<div class="store-container">
    <div class="nav-bar" ><nav th:replace="~{fragments/navbar}"></nav></div>
    <div class="news-text "><h1>The news:</h1>
        <hr></div>
    <div class="news" id="news">
        <div th:each="news1:${news}">
            <form
                th:action="@{'/news-page/'+${news1.id}}">
                <button type="submit" class="news1">
                        <div class="image">
                            <img th:src="${news1.getImage().getImageLocation()}" alt="img">
                        </div>
                    <div class="name text" th:text="${news1.name}">Shoes are trendy now</div>
                </button>
            </form>
        </div>

    </div>
</div>

</body>
</html>