<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--&gt;-->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Arduino marketplace</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/734a4e4265.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/news-page.css}"/>
    <script th:src="@{/js/news-page.js}"></script>

</head>

<body th:class="'base '+${darkTheme ? 'background-dark text-light' : 'background-light'}">
<!--<body class="background-light" th:unless="${darkTheme}">-->

<div class="news-page-container " style="padding-left: 50px">
    <div class="navbar"><nav th:replace="~{fragments/navbar}"></nav></div>
    <div class="news-name " ><h1 th:text="${news.name}">Big News: Shoes are trendy now!</h1>
        <hr>
    </div>
    <div style="padding-left: 50px" >
        <div class="news-picture" >
            <img  th:src="${'http://localhost:8080/'+news.getImage().getImageLocation()}" alt="img">
        </div>
        <div class="news-desc"><p th:text="${news.description}"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor in labore laudantium nisi quae quia reprehenderit tempore temporibus. Dolor, facilis natus optio placeat reiciendis rem reprehenderit sunt suscipit tempore voluptatum.</p></div>
    </div>
</div>

</body>
</html>