<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
</head>

<body th:class="'base '+${darkTheme ? 'background-dark text-light' : 'background-light '}">

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container" style="margin-top: 100px">
    <h2 class="text-center ">Register User</h2>

    <!-- Registration form start-->
    <form th:object="${registerDTO}"

            th:action="@{/register}"
            th:method="post"

            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">
            <div class="form-group col-md-12 mb-3">
                <label for="email" class=" font-weight-bold">Email</label>
                <input id="email"
                       name="email"
                       type="text"
                       class="form-control"
                       placeholder="Email" value="stilianmatev@gmail.com"/>
                <small th:errors="*{email}" th:errorclass="is-invalid" class ="" style="color: red" >email error message</small>

<!--                <p class="errors alert alert-danger">-->
<!--                    Email is required.-->
<!--                </p>-->
            </div>
        </div><div class="row">
            <div class="form-group col-md-12 mb-3">
                <label for="username" class=" font-weight-bold">Username</label>
                <input id="username"
                       name="username"
                       type="text"
                       class="form-control"
                       placeholder="Username" value="Steli"/>
                <small th:errors="*{username}" th:errorclass="is-invalid" class ="" style="color: red" >email error message</small>

<!--                <p class="errors alert alert-danger">-->
<!--                    Email is required.-->
<!--                </p>-->
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input
                        id="password"
                        name="password"
                        type="password"
                        class="form-control"
                        placeholder="Password" value="Zarchetata.123"/>
<!--                <p class="errors alert alert-danger">-->
<!--                    Password is required.-->
<!--                </p>-->
            </div>
        </div>
        <small th:errors="*{password}" th:errorclass="is-invalid" style="color: red"  >email error message</small>

        <div class="row">
            <div class="form-group col-md-12 mb-3">
                <label for="ConfirmPassword" class=" font-weight-bold">Confirm password</label>
                <input
                        id="ConfirmPassword"
                        name="ConfirmPassword"
                        type="password"
                        class="form-control"
                        placeholder="Password" value="Zarchetata.123"/>
            </div>
        </div>
        <small  th:errors="*{confirmPassword}" th:errorclass="is-invalid" style="color: red"  ><h1>email error message</h1></small>

        <div style="flex-direction: row;
  justify-content: center;" class="form-group" >
            <label for="admin" class=" font-weight-bold">Admin</label>
            <input  id="admin"
                    name="admin"
                    type="checkbox"
                    th:checked="${registerDTO.admin}"
            />
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" style="margin-bottom: 10px" class="btn btn-info btn-lg" value="Register"/>
                </div>
            </div>
        </div>

    </form>

    <!-- EO: Registration form end-->
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
