<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>


<body>


<div>
  <nav th:replace="~{fragments/navbar}"></nav>


  <div class="container">
    <div class="row gx-2 ">

      <div  class="col-md-2">

        <div th:replace="~{fragments/categories}"></div>


      </div>
        <div class="col-md-1">
        </div>
      <div class="col-md-9 center " style="margin: 20px 0px"    >



        <div class="item-container container-for-items" style="width: 250px;
  display:flex;
  align-items:center;background-color: white;padding-top: 10px; border-radius: 4px">
          <img  src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img">
          <p class="name">ime ime ime </p>
          <div class="item-text">
            <p>5 leva   </p>
            <button class="button-2" role="button">Add to cart</button>
            <span ><i class="fa fa-heart-o heart" aria-hidden="true" ></i> </span>
            <!--   <button> dobavi v kolichka</button>   -->
          </div>
        </div>
        <div class="item-container container-for-items" style="">
          <img  src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img">
          <p class="name">ime ime ime </p>
          <div class="item-text">
            <p>5 leva   </p>
            <button class="button-2" role="button">Add to cart</button>
            <span ><i class="fa fa-heart-o" aria-hidden="true heart" ></i> </span>
          </div>
        </div>
        <div class="item-container container-for-items" style="">
          <img  src="https://i.postimg.cc/8CmBZH5N/shoes.webp" alt="img">
          <p class="name">ime ime ime </p>
          <div class="item-text">
            <p>5 leva   </p>
            <button class="button-2" role="button">Add to cart</button>
            <span ><i class="fa fa-heart-o" aria-hidden="true heart" ></i> </span>
          </div>
        </div>
<!--        todo-->

      </div>

    </div>
  </div>

</div>
</body>
</html>