<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <title>Arduino marketplace</title>
  <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

  <link rel="stylesheet" type="text/css" th:href="@{/css/category.css}"/>



  <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script src="https://kit.fontawesome.com/734a4e4265.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/Item.css}"/>
  <script th:src="@{/js/store.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/store.css}"/>

</head>


<body>


<div class="store-container ">
  <div class="navbar"><nav th:replace="~{fragments/navbar}"></nav></div>
  <p ></p>
  <div class="shop-categories " >
    <br><br><br>
    <div class="container-category-selector text-light">
      <div class="categories" > <h1>categories</h1></div>
      <div class="line"><p><hr/></p> </div>
      <div class="all-categories"><a th:href="@{/}"> all categories</a></div>
      <div class="controllers"><a th:href="@{/controllers}"> controllers</a></div>
      <div class="sensors"><a th:href="@{/sensors}"> sensors</a></div>
      <div class="LEDs"><a th:href="@{/LEDs}">LEDs</a></div>
      <div class="Displays"><a th:href="@{/Displays}">Displays</a></div>
      <div class="Cables-and-others"><a th:href="@{/cablesAndOthers}">Cables and others</a></div>
    </div>
  </div>
  <div class="shop-items "><div class="items">

  </div>

  </div>
</div>

<!--  </div>-->

</body>
</html>